* {
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", sans-serif;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background: #111;
    width: 100%;
    border-bottom: 2px solid #00ff00;
}

.header h1 {
    font-size: 2em;
    margin: 0;
}

.header p {
    font-size: 0.9em;
    margin: 10px 0 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.button-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.button-column {
    width: 45%;
}

.button-column h2 {
    font-size: 1.5em;
    color: #00ff00;
    margin-bottom: 15px;
    text-align: center;
}

.custom-button {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1em;
    color: #00ff00;
    background-color: #111;
    box-shadow: 2px 2px 10px #00ff00;
    border: 2px solid #00ff00;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.custom-button:hover {
    background-color: #00ff00;
    color: #000;
}

.go-back {
    width: 100%;
    text-align: center;
    max-width: 1000px;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding-top: 56.25%;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00ff00;
    border-radius: 5px;
}

.ad {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    line-height: 2;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

.hidden {
    display: none;
}

button.close-button {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.close-button:focus {
    outline: none;
}

button.close-button:hover {
    background-color: white;
    color: black;
}