@font-face {
    font-family: 'Plus_IBM_BIOS';
    src: url('./Fonts/AcPlus_IBM_BIOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Plus_IBM_Bios", sans-serif;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background: #111;
    width: 100%;
    border-bottom: 2px solid #00ff00;
}

.header h1 {
    font-size: 2em;
    margin: 0;
}

.header p {
    font-size: 0.9em;
    margin: 10px 0 0;
}

.timeline-container {
    margin-top: 5%;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline-event {
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
}

.timeline-event::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #00ff00;
}

.timeline-date {
    font-size: 1.2em;
    font-weight: bold;
    color: #00ff00;
    margin-bottom: 5px;
}

.timeline-content {
    background-color: #111;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}

.timeline-content h2 {
    font-size: 1.2em;
    margin-top: 0;
}

.timeline-content p {
    font-size: 1em;
    margin: 10px 0 0;
}
